@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');


*{
    color:white;
    padding:0px;
    margin: 0px;
}

body {
    background-color: #0D0A0B;
    position: relative;
    height: 100vh;

}

.pinDiv {
    position: fixed;
    top:50%;
    left:50%;
    height: 50vh;
    transform: translate(-50%,-50%);
    display: flex;
    
}

.text {
    border: 5px solid white;
    border-radius: 10px;
    height: 5vh;
    width: 80vw;
    color: black;
    font-size: large;
    position: flex;
    justify-content: center;
    align-items: center;
    

}

.textArea {
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    border: transparent;
    height: 100%;
    width: 100%;
    background-color: black;
    font-size: large;
    text-align: center;
    

}

.lock {
    top: 0px;
    position: fixed;
    z-index:2;
    height: 100vh;
    width: 100vw;
    background-color: rgb(47, 46, 46)  ;
    animation-name: lockRemoval;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes lockRemoval {
    0% {
        height: 100%;
    }
    100% { 
        height: 0%;
    }
    
}

.pin {
    position: fixed;
    height: 40vh;
    width: 80vw;
    top:60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:5px solid white;
    margin-top: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    

}

.hiddenDiv {
    position: fixed;
    width: 100%;
    height: 0%;
    top:0%;
    background-color: black;
    animation-name: opening;
    animation-duration: 3s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    color:white;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

@keyframes opening {
    0%{
        width: 100%;
        height: 0%
    }
    100% { 
        height: 100%
    }
    
}

.codeBtn {
    color: black;
    font-size: large;
    font-weight: 900;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid white;
}

header {
    height:40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 2.3rem;
    font-family: Marck Script;
    text-align: center;
    color: #9DACFF;
    margin-bottom: 100px;
    
}

.cake { 
    margin: 30px;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;

}

main{ 
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}
.box { 
    height: 30vw;
    width: 60vw;
    background-color: #ca2d3a;
    margin-top: 20px;
    border:transparent;
    border-radius: 10px;
    box-shadow: 0 0 40px blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.b2 {
    margin-top: 60px;
}

.msg {
    height: 2.5rem;
    width:  2.5rem; 
    margin: 20px;
}

.badDay {
    height: 2.5rem;
    width:  2.5rem; 
    margin: 20px;
}
.bText {
    font-size: 1rem;
    margin-bottom: 20px;
    font-family: monospace;
}

.sparkle { 
    height: 10vh;
    width: 10vw;
    position: absolute;
    animation-name: sparkle;
    animation-duration: 3s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

.s1{ 
    top: 20px;
    left:20px;
}

.s2 { 
    top:20px;
    right: 20px;
}

.s3{ 
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes sparkle {
    0% { 
        stroke: #E63946;
    }
    50% { 
        stroke: #9DACFF;
    }
    100% {
        stroke: #339989;
    }
    
}

.box1 {
    position: fixed;
    height: 50vh;
    width: 90vw;
    background-color: rgb(44, 44, 42);
    border: 2px solid white;
    border-radius: 50px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding-top: 100px;
    display:none;
    justify-content: center;
    align-items: flex-start;
    animation-name: box;
    animation-duration: 2s;
    animation-play-state: paused;
}

.nishyPoem {
    font-size: 0.8rem;
    display: none

}

@keyframes box {
    0%{ 
        height: 0px;
    }

    100%{ 
        height: 50vh;

    }
    
}

.cancel {
    margin:10px;
    height:1.5rem;
    width: 1.5rem;
    border:2px solid white;
    border-radius: 10px;
    font-size: 1rem;
    background-color: red;
    position: absolute;
    top:10px;
    right: 10px;

}