@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');


*{
    color:white;
    padding:0px;
    margin: 0px;
}

body {
    background-color: #0D0A0B;
    position: relative;
    height: 150vh;

}

header {
    height:auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 2.3rem;
    font-family: Marck Script;
    text-align: center;
    color: #9DACFF;
    margin-bottom: 10px;
    
}

.cake { 
    margin: 30px;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;

}

main{ 
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box { 
    height: 40vw;
    width: 80vw;
    background-color: #8b121c;
    margin-top: 100px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 40px blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.msg {
    height: 2.5rem;
    width:  2.5rem; 
    margin: 20px;
}

.badDay {
    height: 2.5rem;
    width:  2.5rem; 
    margin: 20px;
}
.bText {
    font-size: 1rem;
    margin-bottom: 20px;
    font-family: monospace;
}

.sparkle { 
    height: 10vh;
    width: 10vw;
    position: absolute;
    animation-name: sparkle;
    animation-duration: 3s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

.s1{ 
    top: 20px;
    left:20px;
}

.s2 { 
    top:20px;
    right: 20px;
}

.s3{ 
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes sparkle {
    0% { 
        stroke: #E63946;
    }
    50% { 
        stroke: #9DACFF;
    }
    100% {
        stroke: #339989;
    }
    
}

.box1 {
    position: fixed;
    height: 50vh;
    width: 90vw;
    background-color: rgb(44, 44, 42);
    border: 2px solid white;
    border-radius: 50px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding-top: 100px;
    display:none;
    justify-content: center;
    align-items: flex-start;
    animation-name: box;
    animation-duration: 2s;
    animation-play-state: paused;
}

.nishyPoem {
    font-size: 0.8rem;
    display: none

}

@keyframes box {
    0%{ 
        height: 0px;
    }

    100%{ 
        height: 50vh;

    }
    
}

.cancel {
    margin:10px;
    height:1.5rem;
    width: 1.5rem;
    border:2px solid white;
    border-radius: 10px;
    font-size: 1rem;
    background-color: red;
    position: absolute;
    top:10px;
    right: 10px;

}